<div class="panel panel-primary">
  <div class="panel-heading">Users</div>
  <div class="panel-body">
    <table class="table table-hover">
          <thead>
            <tr>
              <th>Email</th>
              <th>Register At</th>
              <th>Total Friends</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.email %></td>
                <td><%= user.created_at %></td>
                <td><%= user.id %></td>
                <td>
                  <%= link_to 'Add Friend', '#', class: "btn btn-info btn-sm"  %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
  </div>
</div>
